# ignore thumbnails created by windows
Thumbs.db
# ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in/
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
# ignore xed backup files
*.*~
.project
.vscode/
.DS_Store

# ignore JavaScript React npm modules
modules/
node_modules/
build/
*.log
npm-debug.log*
.env
TEMP/
temp/

# ignore JetBrains IDE config folder
.idea/

.solium*

